@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    font-family: 'Pangolin', cursive;
    text-align: center
}

body{
    background-image: url(imagens/pikachu.jfif);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 45px;
}

.container1{
    border: 1px solid black;
    padding: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
}

#gameBoard {
    background-color: #232323;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: .5rem;
    margin-bottom: 1.5rem;
    max-width: 19rem;
  }
  
  #gameBoard span {
    background-color: #ddd;
    display: grid;
    place-content: center;
    font-size: 5rem;
  }
  
  #gameBoard span.win {
    background-color: #25a340;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

#resetButton{
    padding: 10px
}

#startButton{
    padding: 10px;
}